doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/js/zoombud.js')
    script(type='text/javascript', src='/js/typeahead.js')
  body
    header
      if (typeof(session.user) !== 'undefined')
        p Welcome 
          a(href="/user") #{session.user.email}
    
      nav
        ul
          li 
            a(href="/admin/") Home
          li 
            a(href="/admin/stores/") Stores
          li 
            a(href="/admin/users/") Users
    block content
